# Copyright 2020 The Periph Authors. All rights reserved.
# Use of this source code is governed under the Apache License, Version 2.0
# that can be found in the LICENSE file.

# References:
# https://developer.github.com/webhooks/event-payloads/
# https://github.com/actions/cache
# https://github.com/actions/checkout
# https://github.com/actions/setup-go
# https://help.github.com/en/actions/configuring-and-managing-workflows/authenticating-with-the-github_token#using-the-github_token-in-a-workflow
# https://help.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions/
# https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions

on: [push, pull_request]
name: Run tests
jobs:
  test_all:
    continue-on-error: true
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        # Do not forget to bump every 6 months!
        gover: ["1.18"]
    runs-on: "${{matrix.os}}"
    name: "go${{matrix.gover}}.x on ${{matrix.os}}"
    env:
      PYTHONDONTWRITEBYTECODE: x
    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: "${{matrix.gover}}"

      # Checkout and print debugging information.
    - name: Turn off git core.autocrlf
      run: git config --global core.autocrlf false
    - uses: actions/checkout@v3
    - name: "Debug"
      run: |
        echo HOME = $HOME
        echo GITHUB_WORKSPACE = $GITHUB_WORKSPACE
        echo PATH = $PATH
        echo ""
        echo $ ls -l $HOME/go/bin
        ls -la $HOME/go/bin

    - name: 'Cache: ~/go'
      uses: actions/cache@v2
      with:
        path: ~/go
        key: "${{runner.os}}-gopkg-${{hashFiles('go.sum', '.github/workflows/*.yml')}}"

      # Fetch the tools.
    - name: 'go install necessary tools'
      if: always()
      run: |
        go install github.com/gordonklaus/ineffassign@latest
        go install github.com/securego/gosec/v2/cmd/gosec@latest
        go install golang.org/x/tools/go/analysis/passes/shadow/cmd/shadow@latest
        go install honnef.co/go/tools/cmd/staticcheck@latest
    - name: 'go install necessary tools (ubuntu)'
      if: always() && matrix.os == 'ubuntu-latest'
      run: |
        go install github.com/client9/misspell/cmd/misspell@latest
        go install github.com/google/addlicense@latest

      # Now run proper checks.
    - name: 'Check: go vet'
      if: always()
      run: go vet ./...
    - name: 'Check: go vet shadow; shadowed variables'
      run: |
        SHADOW_TOOL="$(which shadow)"
        if [ -f "${SHADOW_TOOL}.exe" ]; then
          SHADOW_TOOL="${SHADOW_TOOL}.exe"
        fi
        go vet -vettool=$SHADOW_TOOL ./...
    - name: 'Check: inefficient variable assignment'
      if: always()
      run: ineffassign ./...
    - name: 'Check: staticcheck'
      if: always()
      # SA1019: Foo is deprecated
      run: staticcheck -checks inherit,-SA1019 ./...
    - name: 'Check: gosec'
      run: gosec -fmt=golint -quiet ./...

      # The following checks are not dependent on the OS or go build tags. Only
      # run them on ubuntu-latest since it's the fastest one.
    - name: 'Check: no executable was committed (ubuntu)'
      if: always() && matrix.os == 'ubuntu-latest'
      run: |
        if find . -path ./.git -prune -o -type f -executable -print | grep -e . ; then
          echo 'Do not commit executables'
          false
        fi
    - name: 'Check: gofmt; code is well formatted (ubuntu)'
      if: always() && matrix.os == 'ubuntu-latest'
      run: |
        FILES=$(gofmt -s -l .)
        if ! test -z "$FILES"; then
          echo 'Please run `gofmt -s -w` on the following files:' >> _gofmt.txt
          echo "" >> _gofmt.txt
          for FILE in ${FILES}; do
            echo "- ${FILE}" >> _gofmt.txt
          done
          cat _gofmt.txt
          echo "## ⚠ gofmt Failed" >> _comments.txt
          echo "" >> _comments.txt
          cat _gofmt.txt >> _comments.txt
          echo "" >> _comments.txt
          false
        fi
    - name: 'Check: addlicense; all sources have a license header (ubuntu)'
      if: always() && matrix.os == 'ubuntu-latest'
      run: addlicense -check .
    - name: "Check: misspelling; code doesn't contain misspelling (ubuntu)"
      if: always() && matrix.os == 'ubuntu-latest'
      run: |
        ERR=$(misspell .)
        if ! test -z "$ERR"; then
          echo "$ERR"
          echo "## ⚠ misspell Failed" >> _comments.txt
          echo "" >> _comments.txt
          echo "$ERR" >> _comments.txt
          echo "" >> _comments.txt
          false
        fi

      # Run tests last since it's potentially the slowest step.
    - name: 'Check: go test -cover'
      if: always()
      run: go test -timeout=40s -covermode=count -coverprofile coverage.txt ./...
      # Don't send code coverage if anything failed to reduce spam.
    - uses: codecov/codecov-action@v2
    - name: 'Cleanup'
      if: always()
      run: rm coverage.txt
      # Don't run go test -race if anything failed, to speed up the results.
    - name: 'Check: go test -race'
      run: go test -timeout=60s -race ./...
    - name: 'Check: go test -bench=.'
      run: go test -timeout=40s -bench=. -benchtime=100ms -cpu=1 -run NONE ./...
    - name: 'Check: CGO_ENABLED=0 go test -short'
      run: CGO_ENABLED=0 go test -timeout=40s -short ./...

    - name: "Check: tree is clean"
      if: always()
      run: |
        # Nothing should have changed in the tree up to that point and no
        # unsuspected file was created.
        TOUCHED=$(git status --porcelain --ignored)
        if ! test -z "$TOUCHED"; then
          echo "Oops, something touched these files, please cleanup:"
          echo "$TOUCHED"
          git diff
          false
        fi

    - name: "Check: go generate doesn't modify files"
      if: always()
      run: |
        go generate ./...
        # Also test for untracked files.
        TOUCHED=$(git status --porcelain --ignored)
        if ! test -z "$TOUCHED"; then
          echo "go generate created these files, please fix:"
          echo "$TOUCHED"
          false
        fi

    - name: "Check: go mod tidy doesn't modify files"
      if: always()
      run: |
        go mod tidy
        TOUCHED=$(git status --porcelain --ignored)
        if ! test -z "$TOUCHED"; then
          echo "go mod tidy was not clean, please update:"
          git diff
          false
        fi

    - name: 'Test on periph.io/x/host'
      # Force an upgrade to test host with tip of tree conn.
      run: |
        cd ..
        git clone --depth 1 https://github.com/periph/host
        cd host
        go mod edit -replace=periph.io/x/conn/v3=../conn
        go get -t ./...
        go test -short ./...

    - name: 'Test on periph.io/x/devices'
      # Force an upgrade to test devices with tip of tree conn.
      run: |
        cd ..
        git clone --depth 1 https://github.com/periph/devices
        cd devices
        go mod edit -replace=periph.io/x/conn/v3=../conn
        go get -t ./...
        go test -short ./...

    - name: 'Test on periph.io/x/cmd'
      # Force an upgrade to test cmd with tip of tree conn.
      run: |
        cd ..
        git clone --depth 1 https://github.com/periph/cmd
        cd cmd
        go mod edit -replace=periph.io/x/conn/v3=../conn
        go get -t ./...
        go test -short ./...

    - name: 'Send comments'
      if: failure() && github.event_name == 'pull_request'
      run: |
        if [ -f _comments.txt ]; then
          URL=$(cat ${GITHUB_EVENT_PATH} | jq -r .pull_request.comments_url)
          echo "Sending $(cat _comments.txt|wc -l) lines of comments to ${URL}"
          PAYLOAD=$(echo '{}' | jq --arg body "$(cat _comments.txt)" '.body = $body')
          curl -sS --request POST \
            --header "Authorization: Bearer ${{secrets.GITHUB_TOKEN}}" \
            --header "Content-Type: application/json" \
            --data "${PAYLOAD}" "${URL}" > /dev/null
        fi

  test_short:
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        gover: ['1.13.15']
    runs-on: "${{matrix.os}}"
    name: "go${{matrix.gover}} on ${{matrix.os}} (quick)"
    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: "${{matrix.gover}}"
    - uses: actions/checkout@v3
    - name: 'Check: go test'
      run: go test -timeout=40s ./...

  codeql:
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        # Do not forget to bump every 6 months!
        gover: ["1.18"]
    permissions:
      security-events: write
    runs-on: ubuntu-latest
    name: "go${{matrix.gover}}.x on ubuntu-latest (codeql)"
    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: "${{matrix.gover}}"
    - uses: actions/checkout@v3
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v2
      with:
        languages: go
    - name: Autobuild
      uses: github/codeql-action/autobuild@v2
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v2
